
.main {
    flex: 1;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
}

.bgDark {
    background-color: #12002b;
}

.signInButton {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
  }
  
  .signInContent {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 2rem;
    max-height: 450px;
  }
  
  .signInIcon {
    font-size: 5rem;
  }

  .signUpLink {
    text-decoration: none;
    margin-top: 10px;
    margin-left: 5px;
    color: #2c3e50;
  }
  
  .inputRemember {
    display: flex;
  }
  
  .inputRemember label {
    margin-left: 0.25rem;
  }
  
  .inputWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .inputWrapper label {
    font-weight: bold;
  }
  
  .inputWrapper input {
    padding: 5px;
    font-size: 1.2rem;
  }